@import url('fonts.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.header--fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgb(167, 192, 176);
}
.container {
    max-width: 1390px;
    margin: 0 auto;
    width: 100%;
}

.nav {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;

}
.menu__bar{
    height: 240px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 20px 0 50px;
    transition: 2s;
    display: none;
}
.close{
    margin-left: auto;
}
.close__icon{
    font-size: 24px;
}
.menu__bar-link{
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #333333;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 44px;
}

.header__logo {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 22px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
}

.header__nav_logo {
    margin-left: 18px;
}

.header__list {
    display: flex;
}

.header__item:not(:last-child) {
    margin-right: 24px;
}
.d-none{
    display: none;
}
.header__link {
    font-size: 15px;
    color: #333333;
}

.header__content{
    display: flex;
    flex-wrap: wrap;
}
.header__content-left{
    position: relative;
    width: 686px;
    margin-right: 36px;
}
.header__content-left_img{
     max-width: 686px;
    width: 100%;
} 
.header__content-left_cards{
    position: absolute;
    z-index: 2;
    top: 24px;
    left: 24px;
}

.header__content-left_card:not(:last-child) {
    margin-bottom: 7px;
}

.header__content-card_img {
    max-width: 70px;
    width: 100%;
    
}
.header__content-right{
    padding: 24px 0 0 20px;
}
.blok-1__title{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
margin-bottom: 8px;
}
.blok-1__span{
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #828282;
    margin-bottom: 8px;
}
.blok-1__info{
    display: flex;
    align-items: center;
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #333333;
    padding: 10px 0 6px;
}
.star-widget {
    width: 60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    margin: 0 12px;
}

.star-widget input {
    display: none;
}

.star-widget label {
    font-size: 10px;
    color: #444;
    padding: 1px;
    transition: all 0.2s ease;
}
input:checked~label {
    color: #fd4;
}
.blok-1__icon{
font-size: 16px;
margin-left: 4px;
}
.right__blok-2{
    padding: 20px 0;
}
.blok-2__info{
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 8px;
}
.blok-2__span{
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-decoration-line: line-through;
    color: #828282;
    margin-left: 12px;
    margin-right: 8px;
}
.blok-2__btn:not(:last-child) {
    margin-right: 9px;
}
.blok-2__btn {
    padding: 4px 8px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
    border: 1px solid #333333;
}
.right__blok-3{
    padding: 16px 0 0 20px; 
    margin-bottom: 20px;
}
select{
    padding: 12px;
    border: 1px solid #333333;
    width: 315px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #333333;
    margin-bottom: 12px;
}
.blok-3__info{
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: #333333;
}
.right__blok-4{
    padding-bottom: 25px;
    border-bottom: 0.5px solid #C4C4C4;
    margin-bottom: 24px;
    padding-left: 20px;
}
.form{
    width: 408px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.form__label{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 145px;
    height: 44px;
    background: #F2F2F2;
}
.form__input{
    border: none;
    background: none;
    font-size: 14px;
    font-weight: 500;
}
.count__product-d_none{
    padding: 10px;
    width: 200px;
    border: 1px solid rgb(42, 161, 116);
    border-radius: 10px;
    font-size: 20px;
    color: rgb(185, 223, 80);
    margin-bottom: 10px;
    display: none;
}
.numb{
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #333333;
}
.buttons{
    width: 251px;
}
.form__btn{
    border: 1px solid #333333;
    background: #333333;
}
.add{
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 11px 28px;
}
.heart{
    font-size: 17px;
    color: #FFFFFF;
    padding: 11px;
}
.blok-5__icon{
    font-size: 15px;
    margin-right: 8px;
}
.blok-5-item{
    margin-bottom: 12px;
}
.style__info{
    text-align: center;
    margin: 32px 0;
}





/* --------main start------------- */
.main {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 130px;
}

.main__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.main__right-img {
    /* z-index: 1; */
    position: relative;
    max-width: 335px;
    width: 100%;
    display: flex;
     align-items: center;
     justify-content: center;
}
.img{
    position: relative;
     max-width: 335px;
     width: 100%;
}
.main__img-1 {
    position: relative;
    max-width: 686px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__imgL{
    max-width: 686px;
    width: 100%;
}
.main__right-img:hover .burger__icon,
.main__img-1:hover .burger__icon {
    content: '';
    z-index: 1;
    position: absolute;
    background: url(../img/main/hover.png);
    height: 100%;
    width: 100%;
    transform: scale(1);
}
.burger__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms all;
    transform: scale(0);
    font-size: 62px;
    color:white;
    position: absolute;
    z-index: 2;
}
/* .icons{
    position: absolute;
    top: -289%;
    right: -114%;
    font-size: 16px;
}
.center{
    position: absolute;

} */


/* ------main end -------- */

/* ------footer start----- */
.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer__item {
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: normal;
    line-height: 20px;
    color: #333333;

}

.item__main {
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 16px;
}
.footer__link{
    color: #333333
;
}
.footer__item:not(:last-child) {
    margin-bottom: 8px;
}

.footer__mail {
    max-width: 452px;
    width: 100%;
}

.footer__title {
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 33px;
}

.footer__form {
    display: flex;
    flex-direction: column;
    position: relative;
}

.footer__input {
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #828282;
    padding: 12px 30px 12px 16px;
    border: none;
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 35px;
}
.input__close{
    position: absolute;
    right: 10px;
    top: 13px;
    font-size: 20px;
}
.footer__button{
    display: block;
    padding: 8px 28px;
    width: max-content; 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #333333;
    background: #FFFFFF;
    margin-left: auto;
}
